{% extends "/components/base.html" %}

{% block content %}
    {% if request.endpoint == 'space_list_by_user' %}
    <div class="text-center my-5">
        <h1>My Spaces</h1>
    </div>
    {% else %}
    <div class="text-center my-5">
        <h1>Welcome to Makers B&B</h1>
    </div>
    {% endif %}
    <div class="container text-center">
        <div class="row row-cols-3">
            {% for space in spaces %}
                <div class="card m-3" style="width: 18rem;">
                    <div class="card-body">
                    {% set formatted_price = "%0.2f"|format(space.price) %}
                    <h5 class="t-test card-title">{{space.name|upper}} £{{ formatted_price }}</h5>
                    <p class="card-text">{{space.description}}</p>
                    <p>
                        <span>
                            {{space.size}}sqm
                        </span>
                        <span>
                            {{space.location}}
                        </span>
                    </p>
                    {% if logged == True %}
                    <a href="{{ url_for('space_detail', id=space.id) }}" class="btn btn-primary">See more</a>
                    {% else %}
                    <a href="{{ url_for('get_login') }}" class="btn btn-primary">See more</a>
                    {% endif %}
                    </div>
                </div>      
            {% endfor %}
        </div>
    </div>


{% endblock %}