<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MakersBNB</a>
      {%if logged %}
      <a class="navbar-brand" href="#">{{ username }}</a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('space_list')}}">Home</a>
          </li>
          <li class="nav-item">
            {% if logged %}
              <a class="t-logout nav-link" href="{{ url_for('logout')}}">Log Out</a>
            {% else %}
              <a class="t-login nav-link" href="{{ url_for('get_login')}}">Login</a> 
            {% endif %}
          </li>
          {% if logged %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('space_list_by_user', id=session.get('user_id')) }}">My Spaces</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('space_create', id=session.get('user_id')) }}">Create Space</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('request_list')}}">Manage Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('my_bookings_list')}}">My Bookings</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>